# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [3]:
# All import statements needed for the project, for example:

import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db

from sqlalchemy.orm import declarative_base
from datetime import datetime

# Downloading-Aid Modeul
from sodapy import Socrata
from shapely.geometry import Point

In [4]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "FILL_ME_IN"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = "erm2-nwe9.geojson"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "PostgreSQL"
DB_USER = "Postgres"
DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"

# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

# Username and Token
client = Socrata("data.cityofnewyork.us", 
                 'xqJseEQaQ6OcPMsjHKr3IMUJI', 
                 username="kristinechengedu@gmail.com",
                 password="678771510kk@CU",
                 timeout=10000)

In [5]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()
# Make sure the DATA_DIRECTORY exists
if not DATA_DIR.exists():
    DATA_DIR.mkdir()

## Part 1: Data Preprocessing

In [6]:
# Download dataset from NYC OPEN DATABASE
def download_nyc_geojson_data(NYC_DATA_FILE: str, query: str="", 
                              force: bool=False, download_type="csv",test: bool=False):
    '''Download json file from online resource and write them in geojson format
    
    Keyword arguments:
    NYC_DATA_FILE -- the file name of the data in the website
    query -- the SoQL command for filter the data
    force -- whether we have to download the data even if there is already one exist
    test -- whether it's a test downloading
    
    Returns:
    gdf -- A dataframe in GeoPandas format
    '''
    
    filename = DATA_DIR / NYC_DATA_FILE
    NYC_DATA_CODE = NYC_DATA_FILE[:NYC_DATA_FILE.find('.')]
    file_csv = DATA_DIR / (NYC_DATA_CODE+".csv")
    if download_type == "csv":
        download_file = file_csv
    elif download_type == "geojson":
        download_file = filename
    else:
        raise TypeError('Unaccepted File Type.')
    results = []
    
    if force or not download_file.exists():
        print(f"Downloading {BASE_NYC_DATA_URL+'/resources/'+NYC_DATA_FILE} to {download_file}...")

        try:
            # Get the number of rows
            total_rows = 1000 if test else int(client.get(NYC_DATA_CODE, select="COUNT(*)")[0]['COUNT'])

            # Construct the query without $limit and $offset
            if query != "":
                constructed_query = f"{query} LIMIT {total_rows}"
            else:
                constructed_query = f"LIMIT {total_rows}"
            results += client.get(NYC_DATA_CODE, query=constructed_query)

            # Close connection
            client.close()
            print(f"Done downloading {BASE_NYC_DATA_URL+'/resources/'+ NYC_DATA_FILE}.")

            # Convert to pandas DataFrame
            df = pd.DataFrame.from_records(results)

            # Convert Pandas to GeoPandas
            geometry = [Point(lon, lat) for lon, lat in zip(df['longitude'], df['latitude'])]
            gdf = gpd.GeoDataFrame(df, geometry=geometry, crs='EPSG:4326')
            
            # Drop off the longitude and lagitude column
            # gdf = gdf.drop(['longitude', 'latitude'], axis=1)
            
            # Start writing the data to local csv file.
            print(f"Start writing data to {download_file}...")
            # Write the Geo information from geopandas to output geojson file
            if download_type == "csv":
                df.to_csv(download_file, index=False)
            elif download_type == "geojson":
                gdf.to_file(download_file, driver='GeoJSON', indent=2)
            # Finish writing
            print(f"Done writing data to {download_file}.")

        except Exception as e:
            print(f"Error downloading data: {e}")
            return None

    else:
        print(f"Reading from {download_file}...")
        
        if download_type == "csv":
            df = pd.read_csv(download_file)
            # Convert Pandas to GeoPandas
            geometry = [Point(lon, lat) for lon, lat in zip(df['longitude'], df['latitude'])]
            gdf = gpd.GeoDataFrame(df, geometry=geometry, crs='EPSG:4326')
        elif download_type == "geojson":
            gdf = read_file(download_file, chunksize=10000)
        
        print(f"Successfully read from {download_file}.")
        
    return gdf.to_crs(epsg=4326)

In [7]:
def load_and_clean_zipcodes(zipcode_datafile):
    gdf = gpd.read_file(zipcode_datafile)
    #ensure there is no NaN value in the df
    if not len(gdf[gdf.isna().any(axis=1)]):
        zipcode = gdf.loc[:,['ZIPCODE','COUNTY','geometry']]
    gdf = zipcode.rename(columns={'ZIPCODE':'zip','COUNTY':'county', 'GEOMETRY': 'geometry'})
    gdf = gdf.to_crs('EPSG:4326')
    
    return gdf

In [8]:
def download_and_clean_311_data(force=False):
    '''Download and clean the 311 complaints data to local geojson file
    
    Keyword arguments:
    force -- whether we have to download the data even if there is already one exist
    
    Returns:
    A dataframe in GeoPandas format cleaned by us
    '''

    # Set the date range you are interested in
    start_date = "2015-01-01"
    end_date = "2023-12-31"

    # Columns to select
    selected_columns = [
        'unique_key',
        'created_date',
        'complaint_type',
        'incident_zip',
        'borough',
        'latitude',
        'longitude',
        'Community_Board'
    ]

    # Construct the SoQL query with selected columns
    soql_query_311 = f" SELECT {', '.join(selected_columns)}"\
                     f" WHERE created_date between '{start_date}' and '{end_date}'"
    
    # clean the data of the 311_dataframe
    data_311 = download_nyc_geojson_data(NYC_DATA_311, query=soql_query_311, force=force, test=False)
    data_311['date'] = pd.to_datetime(data_311['created_date']).dt.to_period('D').astype(str)
    data_311 = data_311.rename(columns={'incident_zip':'zip'})
    data_311.drop('created_date', axis=1, inplace=True)
    # drop the row if zipcode is NaN in the row
    data_311.dropna(subset=['zip'], inplace=True)
    data_311 = data_311.rename(columns={'complaint_type':'type',
                                        'Community_Board':'community'})
    
    # Get the result
    return data_311

### Test for `download_and_clean_311_data`

In [9]:
# data_311 = download_and_clean_311_data()

In [10]:
# data_311

In [11]:
# find the rows with nan value --> zip/latitude/longitude maybe NaN, there are 1316835 rows
# rows_with_na = data_311[data_311.isna().any(axis=1)]
# rows_with_na

In [49]:
def download_and_clean_tree_data(force=False):
    '''Download and clean the tree data to local geojson file
    
    Keyword arguments:
    force -- whether we have to download the data even if there is already one exist
    
    Returns:
    A dataframe in GeoPandas format
    '''
    selected_columns = [
        'created_at',
        'tree_id',
        'status',
        'health',
        'spc_latin',
        'spc_common',
        'zipcode',
        'boroname',
        'latitude',
        'longitude'
    ]
    soql_query_tree = f" SELECT {', '.join(selected_columns)}"
    gdf_tree = download_nyc_geojson_data(NYC_DATA_TREES, query=soql_query_tree, force=force)
    gdf_tree = gdf_tree.rename(columns={'created_at':'date', 'zipcode':'zip'})
    # Justify the date format
    gdf_tree['date'] = pd.to_datetime(gdf_tree['date'], format='%m/%d/%Y')
    gdf_tree['date'] = gdf_tree['date'].dt.strftime('%Y-%m-%d')
    gdf_tree['zip'] = gdf_tree['zip'].astype(str)
    return gdf_tree

### Test for `download_and_clean_tree_data`

In [69]:
data_tree = download_and_clean_tree_data()

Reading from data\5rq2-4hqu.csv...
Successfully read from data\5rq2-4hqu.csv.

In [70]:
data_tree

,date,tree_id,status,health,spc_latin,spc_common,zipcode,boroname,latitude,longitude,geometry
0,2015-08-27,180683,Alive,Fair,Acer rubrum,red maple,11375,Queens,40.723092,-73.844215,POINT (-73.84422 40.72309)
1,2015-09-03,200540,Alive,Fair,Quercus palustris,pin oak,11357,Queens,40.794111,-73.818679,POINT (-73.81868 40.79411)
2,2015-09-05,204026,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,11211,Brooklyn,40.717581,-73.936608,POINT (-73.93661 40.71758)
3,2015-09-05,204337,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,11211,Brooklyn,40.713537,-73.934456,POINT (-73.93446 40.71354)
4,2015-08-30,189565,Alive,Good,Tilia americana,American linden,11215,Brooklyn,40.666778,-73.975979,POINT (-73.97598 40.66678)
...,...,...,...,...,...,...,...,...,...,...,...
683783,2015-08-18,155433,Alive,Good,Quercus palustris,pin oak,11211,Brooklyn,40.713211,-73.954944,POINT (-73.95494 40.71321)
683784,2015-08-29,183795,Alive,Good,Cladrastis kentukea,Kentucky yellowwood,11375,Queens,40.715194,-73.856650,POINT (-73.85665 40.71519)
683785,2015-08-22,166161,Alive,Good,Acer rubrum,red maple,10314,Staten Island,40.620762,-74.136517,POINT (-74.13652 40.62076)
683786,2015-08-29,184028,Alive,Good,Acer rubrum,red maple,10457,Bronx,40.850828,-73.903115,POINT (-73.90311 40.85083)
683787,2015-09-03,200607,Alive,Fair,Acer rubrum,red maple,11365,Queens,40.732165,-73.787526,POINT (-73.78753 40.73217)

In [50]:
def load_and_clean_zillow_data(data = ZILLOW_DATA_FILE):
    '''Download and clean the zillow data to geo pandas table
    
    Keyword arguments:
    data -- the file name of the zillow table
    
    Returns:
    A dataframe in Pandas format
    '''
    # Load the data
    rent = pd.read_csv(ZILLOW_DATA_FILE)
    
    # Start cleaning
    rent_ny = rent.loc[rent['State']=='NY']
    rent_ny_time = rent_ny.iloc[:,8:].copy()

    rename_mapping = {
        col: datetime.strptime(col, '%Y-%m-%d').strftime('%Y-%m') for col in rent_ny_time.columns
        if '-' in col}

    # Rename the time columns using the mapping, convert them to the 'yyyy-dd' format
    rent_ny_time.rename(columns=rename_mapping, inplace=True)
    avg_rent = rent_ny.iloc[:,2].to_frame().rename(columns={'RegionName':'rent_zip'})
    avg_rent_concat = pd.concat([avg_rent, rent_ny_time], axis=1)

    # Drop rows where all time columns are NA; 
    # Change the value of CountyName to a clean format, like 'Queens County' to "Queens"
    rent_clean = avg_rent_concat.dropna(subset=avg_rent_concat.columns[2:], how='all')
    rent_clean['CountyName'] = rent_clean['CountyName'].str.replace(' County', '')
    rent_clean = rent_clean.rename(columns={'rent_zip':'zip'})
    rent_clean.reset_index(drop=True, inplace=True)
    
    #ensure there is no repeated zip code
    if len(rent_clean['zip'].unique()) == len(rent_clean):
        # Add ID to make each record in zillow unique
        rent_clean['regionid'] = [i for i in range(len(rent_clean))]
        rent_clean = rent_clean.rename(columns={'CountyName':'county'})
        rent_clean['zip'] = rent_clean['zip'].astype(str)
        return rent_clean
    else:
        raise ValueError('Exsist duplicated zip code.')

### Test for `load_and_clean_zillow_data`

In [14]:
# zillow_data = load_and_clean_zillow_data()

In [15]:
# zillow_data

In [16]:
def load_all_data():
    '''Load all data to four dataframes
    
    Returns:
    A tuple contains four dataframes as following:
    
    geodf_zipcode_data -- A geopandas dataframe contains zipcodes
    geodf_311_data -- A geopandas dataframe contains complaints data
    geodf_tree_data -- A geopandas dataframe contains trees data
    df_zillow_data -- A pandas dataframe contains zillow rents data
    '''
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [17]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

Reading from data\erm2-nwe9.csv...

C:\Users\asus\AppData\Local\Temp\ipykernel_24808\1060267100.py:63: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_csv)

Successfully read from data\erm2-nwe9.csv.
Reading from data\5rq2-4hqu.csv...
Successfully read from data\5rq2-4hqu.csv.

## Overview and Futhermore Cleaning

### Overview the ZIPCODE data

In [18]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip       263 non-null    object
 1   county    263 non-null    object
 2   geometry  263 non-null    geometry
dtypes: geometry(1), object(2)
memory usage: 6.3+ KB

In [19]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

     zip  county                                           geometry
0  11436  Queens  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1  11213   Kings  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2  11212   Kings  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3  11225   Kings  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4  11218   Kings  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

In [20]:
# See the counties in the data
unique_species = geodf_zipcode_data['county'].unique()

# Print to see
print(unique_species)

['Queens' 'Kings' 'Bronx' 'New York' 'Richmond']

In [21]:
# See whether there exist a duplicate
duplicate_values = geodf_zipcode_data['zip'].duplicated(keep=False)

# output the duplicate rows
print(geodf_zipcode_data[duplicate_values])

       zip    county                                           geometry
14   10463     Bronx  POLYGON ((-73.92065 40.88724, -73.92038 40.887...
16   10464     Bronx  POLYGON ((-73.81539 40.88939, -73.81527 40.889...
19   10463  New York  POLYGON ((-73.91544 40.87559, -73.91544 40.875...
27   10464     Bronx  POLYGON ((-73.77200 40.85712, -73.77201 40.857...
28   10464     Bronx  POLYGON ((-73.79235 40.85607, -73.79234 40.856...
49   10035  New York  POLYGON ((-73.93326 40.80724, -73.93319 40.807...
65   11370    Queens  POLYGON ((-73.88969 40.77368, -73.88965 40.773...
106  10004  New York  POLYGON ((-74.01101 40.70622, -74.00997 40.705...
109  10004  New York  POLYGON ((-74.04166 40.69645, -74.04237 40.697...
113  10004  New York  POLYGON ((-74.02418 40.68392, -74.02425 40.683...
114  10004  New York  POLYGON ((-74.04699 40.69012, -74.04700 40.690...
118  11231     Kings  POLYGON ((-73.98999 40.68332, -73.99006 40.683...
123  11231     Kings  POLYGON ((-74.01658 40.66476, -74.01664 40.664...
134  11693    Queens  POLYGON ((-73.83205 40.63516, -73.83206 40.635...
139  11096    Queens  POLYGON ((-73.76740 40.61546, -73.76763 40.615...
144  11096    Queens  POLYGON ((-73.74906 40.61181, -73.74884 40.611...
146  11693    Queens  POLYGON ((-73.83263 40.60841, -73.83292 40.608...
149  11693    Queens  POLYGON ((-73.81336 40.59096, -73.81332 40.590...
194  11370     Bronx  POLYGON ((-73.89262 40.79246, -73.89264 40.792...
240  10196  New York  POLYGON ((-73.98243 40.75680, -73.98213 40.757...
241  10196  New York  POLYGON ((-73.98133 40.75673, -73.98138 40.756...
245  10047  New York  POLYGON ((-73.98633 40.73958, -73.98635 40.739...
246  10047  New York  POLYGON ((-73.98633 40.73958, -73.98635 40.739...
253  10035  New York  POLYGON ((-73.92742 40.79839, -73.92737 40.798...
259  11693     Kings  POLYGON ((-73.84076 40.62536, -73.84306 40.627...

#### Futher more clean on ZIPCODE table

In [22]:
geodf_zipcode_data.drop_duplicates(subset=['zip'], inplace=True)

In [23]:
# Resort the Index of rows to make sure the further operation work
geodf_zipcode_data = geodf_zipcode_data.reset_index(drop=True)

### Overview the 311 data

In [24]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 24112836 entries, 0 to 24937442
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   unique_key  int64
 1   type        object
 2   zip         object
 3   borough     object
 4   latitude    float64
 5   longitude   float64
 6   community   object
 7   geometry    geometry
 8   date        object
dtypes: float64(2), geometry(1), int64(1), object(5)
memory usage: 1.8+ GB

In [25]:
geodf_311_data.head()

,unique_key,type,zip,borough,latitude,longitude,community,geometry,date
0,59619840,Derelict Vehicles,10040.0,MANHATTAN,40.855888,-73.931570,12 MANHATTAN,POINT (-73.93157 40.85589),2023-12-03
1,59620909,Derelict Vehicles,11435.0,QUEENS,40.686400,-73.805864,12 QUEENS,POINT (-73.80586 40.68640),2023-12-03
2,59620796,Illegal Parking,11435.0,QUEENS,40.699675,-73.810377,12 QUEENS,POINT (-73.81038 40.69968),2023-12-03
3,59616588,Noise - Residential,11216.0,BROOKLYN,40.682996,-73.946079,03 BROOKLYN,POINT (-73.94608 40.68300),2023-12-03
4,59617646,Noise - Street/Sidewalk,10026.0,MANHATTAN,40.803433,-73.952361,10 MANHATTAN,POINT (-73.95236 40.80343),2023-12-03

In [26]:
# See the counties in the data
unique_species = geodf_311_data['community'].unique()

# Print to see
print(unique_species)

['12 MANHATTAN' '12 QUEENS' '03 BROOKLYN' '10 MANHATTAN' '03 BRONX'
 '08 BROOKLYN' '10 BRONX' '07 BRONX' '01 QUEENS' '05 BROOKLYN' '01 BRONX'
 '01 STATEN ISLAND' '04 BRONX' '06 MANHATTAN' '05 BRONX' '04 BROOKLYN'
 '01 BROOKLYN' '13 QUEENS' '04 QUEENS' '11 BRONX' '02 BROOKLYN'
 '05 QUEENS' '05 MANHATTAN' '08 QUEENS' 'Unspecified MANHATTAN'
 '07 BROOKLYN' '07 QUEENS' '02 BRONX' '08 BRONX' '02 MANHATTAN'
 '12 BROOKLYN' '12 BRONX' '09 BROOKLYN' '13 BROOKLYN' '10 QUEENS'
 '04 MANHATTAN' '17 BROOKLYN' '02 QUEENS' '11 BROOKLYN' '03 MANHATTAN'
 '10 BROOKLYN' '11 MANHATTAN' '08 MANHATTAN' '03 QUEENS' '06 QUEENS'
 '03 STATEN ISLAND' '07 MANHATTAN' '15 BROOKLYN' '09 MANHATTAN'
 '18 BROOKLYN' '14 QUEENS' '06 BROOKLYN' '09 BRONX' '06 BRONX' '09 QUEENS'
 '14 BROOKLYN' '01 MANHATTAN' '16 BROOKLYN' '11 QUEENS' '64 MANHATTAN'
 '02 STATEN ISLAND' '55 BROOKLYN' 'Unspecified BROOKLYN' '83 QUEENS'
 'Unspecified BRONX' 'Unspecified STATEN ISLAND' '81 QUEENS' '80 QUEENS'
 '0 Unspecified' 'Unspecified QUEENS' '26 BRONX' '82 QUEENS' '56 BROOKLYN'
 '27 BRONX' '28 BRONX' '84 QUEENS' '95 STATEN ISLAND' nan 'QENB']

#### Drop off the nan value and 'QENB'

In [27]:
geodf_311_data = geodf_311_data.dropna(subset=['community'])
geodf_311_data = geodf_311_data[geodf_311_data['community'] != 'QENB']

In [28]:
# Resort the Index of rows to make sure the further operation work
geodf_311_data = geodf_311_data.reset_index(drop=True)

#### After cleaning deeper

In [29]:
# See the counties in the data
unique_species = geodf_311_data['community'].unique()

# Print to see
print(unique_species)

['12 MANHATTAN' '12 QUEENS' '03 BROOKLYN' '10 MANHATTAN' '03 BRONX'
 '08 BROOKLYN' '10 BRONX' '07 BRONX' '01 QUEENS' '05 BROOKLYN' '01 BRONX'
 '01 STATEN ISLAND' '04 BRONX' '06 MANHATTAN' '05 BRONX' '04 BROOKLYN'
 '01 BROOKLYN' '13 QUEENS' '04 QUEENS' '11 BRONX' '02 BROOKLYN'
 '05 QUEENS' '05 MANHATTAN' '08 QUEENS' 'Unspecified MANHATTAN'
 '07 BROOKLYN' '07 QUEENS' '02 BRONX' '08 BRONX' '02 MANHATTAN'
 '12 BROOKLYN' '12 BRONX' '09 BROOKLYN' '13 BROOKLYN' '10 QUEENS'
 '04 MANHATTAN' '17 BROOKLYN' '02 QUEENS' '11 BROOKLYN' '03 MANHATTAN'
 '10 BROOKLYN' '11 MANHATTAN' '08 MANHATTAN' '03 QUEENS' '06 QUEENS'
 '03 STATEN ISLAND' '07 MANHATTAN' '15 BROOKLYN' '09 MANHATTAN'
 '18 BROOKLYN' '14 QUEENS' '06 BROOKLYN' '09 BRONX' '06 BRONX' '09 QUEENS'
 '14 BROOKLYN' '01 MANHATTAN' '16 BROOKLYN' '11 QUEENS' '64 MANHATTAN'
 '02 STATEN ISLAND' '55 BROOKLYN' 'Unspecified BROOKLYN' '83 QUEENS'
 'Unspecified BRONX' 'Unspecified STATEN ISLAND' '81 QUEENS' '80 QUEENS'
 '0 Unspecified' 'Unspecified QUEENS' '26 BRONX' '82 QUEENS' '56 BROOKLYN'
 '27 BRONX' '28 BRONX' '84 QUEENS' '95 STATEN ISLAND']

### Overview the Tree data

In [30]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        683788 non-null  object
 1   tree_id     683788 non-null  int64
 2   status      683788 non-null  object
 3   health      652172 non-null  object
 4   spc_latin   652169 non-null  object
 5   spc_common  652169 non-null  object
 6   zip         683788 non-null  int64
 7   boroname    683788 non-null  object
 8   latitude    683788 non-null  float64
 9   longitude   683788 non-null  float64
 10  geometry    683788 non-null  geometry
dtypes: float64(2), geometry(1), int64(2), object(6)
memory usage: 57.4+ MB

In [31]:
geodf_tree_data.head()

,date,tree_id,status,health,spc_latin,spc_common,zip,boroname,latitude,longitude,geometry
0,2015-08-27,180683,Alive,Fair,Acer rubrum,red maple,11375,Queens,40.723092,-73.844215,POINT (-73.84422 40.72309)
1,2015-09-03,200540,Alive,Fair,Quercus palustris,pin oak,11357,Queens,40.794111,-73.818679,POINT (-73.81868 40.79411)
2,2015-09-05,204026,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,11211,Brooklyn,40.717581,-73.936608,POINT (-73.93661 40.71758)
3,2015-09-05,204337,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,11211,Brooklyn,40.713537,-73.934456,POINT (-73.93446 40.71354)
4,2015-08-30,189565,Alive,Good,Tilia americana,American linden,11215,Brooklyn,40.666778,-73.975979,POINT (-73.97598 40.66678)

#### Further more cleaning on TREE data

In [32]:
# See the counties in the data
unique_species = geodf_tree_data['boroname'].unique()

# Print to see
print(unique_species)

['Queens' 'Brooklyn' 'Manhattan' 'Staten Island' 'Bronx']

### Overview the Zillow data

In [33]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Columns: 108 entries, zip to regionid
dtypes: float64(105), int64(2), object(1)
memory usage: 262.5+ KB

In [34]:
df_zillow_data.head()

,zip,county,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,...,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,regionid
0,11385,Queens,NaN,2087.527084,NaN,2149.924252,2166.263698,2148.992886,2190.098591,2264.966715,...,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783,0
1,11208,Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2588.030194,2613.790654,2585.561351,2633.200754,2672.038493,2806.918757,2765.224364,2737.547470,2728.733333,1
2,11236,Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2285.460026,2362.500000,2
3,10467,Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2155.617718,2172.346611,2160.962748,2110.533203,2180.323655,2276.372290,2334.204728,2353.686402,2423.888889,3
4,11373,Queens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2255.604528,2262.101623,2271.514956,2250.182334,2231.959479,2257.413993,2247.592851,2302.557354,2292.994444,4

#### Further more cleaning on ZILLOW Data

In [35]:
# See the counties in the data
unique_species = df_zillow_data['county'].unique()

# Print to see
print(unique_species)

['Queens' 'Kings' 'Bronx' 'New York' 'Richmond' 'Tompkins' 'Suffolk'
 'Nassau' 'Westchester' 'Orange' 'Erie' 'Rensselaer' 'Monroe' 'Niagara'
 'Dutchess' 'Broome' 'Saratoga' 'Cayuga' 'Jefferson' 'Ulster' 'Onondaga'
 'Oswego' 'Oneida' 'Schenectady' 'Albany' 'Cortland' 'Ontario' 'Rockland'
 'Otsego' 'Columbia' 'Greene' 'Steuben' 'Tioga']

In [36]:
# Non-NYC-Counties
Non_NYC_Counties = ['Tompkins', 'Suffolk', 'Nassau', 'Westchester', 'Orange', 'Erie', 'Rensselaer',
                    'Monroe', 'Niagara', 'Dutchess', 'Broome', 'Saratoga', 'Cayuga', 'Jefferson',
                    'Ulster', 'Onondaga', 'Oswego', 'Oneida', 'Schenectady', 'Albany', 'Cortland',
                    'Ontario', 'Rockland', 'Otsego', 'Columbia', 'Greene', 'Steuben', 'Tioga']

# Filtering it
df_zillow_data = df_zillow_data[~df_zillow_data['county'].isin(Non_NYC_Counties)]

# Resort the Index of rows to make sure the further operation work
df_zillow_data = df_zillow_data.reset_index(drop=True)

#### After Cleaning

In [37]:
# See the counties in the data
unique_species = df_zillow_data['county'].unique()

# Print to see
print(unique_species)

['Queens' 'Kings' 'Bronx' 'New York' 'Richmond']

### Delete data in 311, tree and zillow with invalid zipcoe

We need to construct a mapping relationship by zipcodes. So we need to delete all the invalid zipcodes in the data tables.

Here we define the invalid zipcodes as the zipcodes not in dataframe `geodf_zipcode_data`

In [52]:
# Get all valid zipcodes
all_zips = set(geodf_zipcode_data['zip'])

# Update the invalid rows in each DataFrame using loc
for df in [geodf_311_data, geodf_tree_data, df_zillow_data]:
    # Create a boolean mask for valid rows
    valid_mask = df['zip'].isin(all_zips)
    
    # Update the DataFrame in-place by dropping invalid rows
    df.drop(df[~valid_mask].index, inplace=True)
    
    # Reset the index after dropping rows
    df.reset_index(drop=True, inplace=True)

### Overview the final data

In [53]:
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip       248 non-null    object
 1   county    248 non-null    object
 2   geometry  248 non-null    geometry
dtypes: geometry(1), object(2)
memory usage: 5.9+ KB

In [54]:
geodf_zipcode_data.head()

     zip  county                                           geometry
0  11436  Queens  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1  11213   Kings  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2  11212   Kings  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3  11225   Kings  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4  11218   Kings  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

In [55]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 9019192 entries, 0 to 9019191
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   unique_key  int64
 1   type        object
 2   zip         object
 3   borough     object
 4   latitude    float64
 5   longitude   float64
 6   community   object
 7   geometry    geometry
 8   date        object
dtypes: float64(2), geometry(1), int64(1), object(5)
memory usage: 619.3+ MB

In [56]:
geodf_311_data.head()

,unique_key,type,zip,borough,latitude,longitude,community,geometry,date
0,57084183,Noise - Residential,11209,BROOKLYN,40.618678,-74.030866,10 BROOKLYN,POINT (-74.03087 40.61868),2023-03-19
1,57088018,Abandoned Vehicle,11235,BROOKLYN,40.588689,-73.941619,15 BROOKLYN,POINT (-73.94162 40.58869),2023-03-19
2,57084791,Building/Use,11226,BROOKLYN,40.639767,-73.963006,14 BROOKLYN,POINT (-73.96301 40.63977),2023-03-19
3,57084764,HEAT/HOT WATER,11208,BROOKLYN,40.676832,-73.871172,05 BROOKLYN,POINT (-73.87117 40.67683),2023-03-19
4,57083434,HEAT/HOT WATER,10040,MANHATTAN,40.856083,-73.936349,12 MANHATTAN,POINT (-73.93635 40.85608),2023-03-19

In [57]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 682853 entries, 0 to 682852
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        682853 non-null  object
 1   tree_id     682853 non-null  int64
 2   status      682853 non-null  object
 3   health      651240 non-null  object
 4   spc_latin   651237 non-null  object
 5   spc_common  651237 non-null  object
 6   zip         682853 non-null  object
 7   boroname    682853 non-null  object
 8   latitude    682853 non-null  float64
 9   longitude   682853 non-null  float64
 10  geometry    682853 non-null  geometry
dtypes: float64(2), geometry(1), int64(1), object(7)
memory usage: 57.3+ MB

In [58]:
geodf_tree_data.head()

,date,tree_id,status,health,spc_latin,spc_common,zip,boroname,latitude,longitude,geometry
0,2015-08-27,180683,Alive,Fair,Acer rubrum,red maple,11375,Queens,40.723092,-73.844215,POINT (-73.84422 40.72309)
1,2015-09-03,200540,Alive,Fair,Quercus palustris,pin oak,11357,Queens,40.794111,-73.818679,POINT (-73.81868 40.79411)
2,2015-09-05,204026,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,11211,Brooklyn,40.717581,-73.936608,POINT (-73.93661 40.71758)
3,2015-09-05,204337,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,11211,Brooklyn,40.713537,-73.934456,POINT (-73.93446 40.71354)
4,2015-08-30,189565,Alive,Good,Tilia americana,American linden,11215,Brooklyn,40.666778,-73.975979,POINT (-73.97598 40.66678)

In [59]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Columns: 108 entries, zip to regionid
dtypes: float64(105), int64(1), object(2)
memory usage: 123.3+ KB

In [60]:
df_zillow_data.head()

,zip,county,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,...,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07,2023-08,2023-09,regionid
0,11385,Queens,NaN,2087.527084,NaN,2149.924252,2166.263698,2148.992886,2190.098591,2264.966715,...,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783,0
1,11208,Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2588.030194,2613.790654,2585.561351,2633.200754,2672.038493,2806.918757,2765.224364,2737.547470,2728.733333,1
2,11236,Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2285.460026,2362.500000,2
3,10467,Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2155.617718,2172.346611,2160.962748,2110.533203,2180.323655,2276.372290,2334.204728,2353.686402,2423.888889,3
4,11373,Queens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2255.604528,2262.101623,2271.514956,2250.182334,2231.959479,2257.413993,2247.592851,2302.557354,2292.994444,4

## Part 2: Storing Data

In [1]:
import psycopg2

In [2]:
DB_USER = 'postgres'
DB_NAME = 'final_project_python'
DB_PASSWORD = '678771510'

In [4]:
def setup_new_postgis_database(username, db_name, password):
    '''Set up a new database named `db_name` given in argument
    
    Keyword arguments:
    username -- The username of the target database
    db_name -- The name of the new database
    password -- The password of the user
    
    Returns:
    No returns.
    '''
    try:
        # Connect to the default database (e.g., 'postgres')
        connection = psycopg2.connect(user=username, password=password)

        # Set autocommit to ensure CREATE DATABASE runs outside a transaction block
        connection.autocommit = True

        # Create a new database
        with connection.cursor() as cursor:
            cursor.execute(f"CREATE DATABASE {db_name}")

        # Reconnect to the newly created database
        connection = psycopg2.connect(user=username, password=password, database=db_name)

        # Enable PostGIS extension in the new database
        with connection.cursor() as cursor:
            cursor.execute("CREATE EXTENSION IF NOT EXISTS postgis")

    except psycopg2.Error as e:
        return

    finally:
        # Commit changes and close the connection
        connection.commit()
        connection.close()
        
# Create a new database if there dose not exist one
setup_new_postgis_database(DB_USER, DB_NAME, DB_PASSWORD)

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [9]:
# Define the schema for the ZIPCODE table
ZIPCODE_SCHEMA = """
CREATE TABLE IF NOT EXISTS ZIPCODE (
            zip INTEGER PRIMARY KEY,
            county VARCHAR(255),
            geometry geometry(POLYGON, 4326)
);
"""

# Define the schema for the NYC311 table
NYC_311_SCHEMA = """
CREATE TABLE IF NOT EXISTS NYC311 (
            unique_key INTEGER PRIMARY KEY,
            zip INTEGER,
            date DATE,
            type VARCHAR(255),
            borough VARCHAR(255),
            geometry geometry(POINT, 4326),
            community VARCHAR(255),
            latitude FLOAT,
            longitude FLOAT,
            FOREIGN KEY(zip) REFERENCES ZIPCODE(zip)
);
"""

# Define the schema for the TREE table
NYC_TREE_SCHEMA = """
CREATE TABLE IF NOT EXISTS TREE (
            tree_id INTEGER PRIMARY KEY,
            zip INTEGER,
            date DATE,
            geometry geometry(POINT, 4326),
            status VARCHAR(255),
            health VARCHAR(255),
            spc_latin VARCHAR(255),
            spc_common VARCHAR(255),
            boroname VARCHAR(255),
            latitude FLOAT,
            longitude FLOAT,
            FOREIGN KEY(zip) REFERENCES ZIPCODE(zip)
);
"""

# Define the schema for the ZILLOW table
ZILLOW_SCHEMA = """
CREATE TABLE IF NOT EXISTS ZILLOW (
            regionid INTEGER PRIMARY KEY,
            zip INTEGER,
            county VARCHAR(255),
            FOREIGN KEY(zip) REFERENCES ZIPCODE(zip),
"""

# Add columns for each month from 2015-01 to 2023-09
for year in range(2015, 2024):
    for mon in range(1, 13):
        if year == 2023 and mon > 9:
            break
        # Preprocess the month
        mon_str = f"{year}-{mon:02d}"
        ZILLOW_SCHEMA += f"            \"{mon_str}\" FLOAT,\n"

# Remove the trailing comma and close the parentheses
ZILLOW_SCHEMA = ZILLOW_SCHEMA.rstrip(",\n") + "\n);"

In [10]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

### Execute the SQL commands

In [11]:
def execute_SQL(SQL_Command):
    '''Execute the SQL command given by argument in the specific database
    
    Keyword arguments:
    SQL_Command -- The SQL script texts which need to be executed
    
    Returns:
    results -- A list contains the results of the execution if there exists
    '''
    try:
        with psycopg2.connect(
            host="localhost",
            port="5432",
            database=DB_NAME,
            user=DB_USER,
            password=DB_PASSWORD
        ) as conn, conn.cursor() as cursor:
            cursor.execute(SQL_Command)
            conn.commit()
            results = cursor.fetchall()
    except Exception as e:
        # print(f"Error: {e}")
        results = []

    return results

In [67]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
# Execute the schema file for ZIPCODE table
execute_SQL(ZIPCODE_SCHEMA)

# Execute the schema file for NYC_311 table
execute_SQL(NYC_311_SCHEMA)

# Execute the schema file for NYC_TREE table
execute_SQL(NYC_TREE_SCHEMA)

# Execute the schema file for ZILLOW table
execute_SQL(ZILLOW_SCHEMA)

[]

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

### Insert data into tables

In [68]:
tablename_to_dataframe = {
    "zipcode": geodf_zipcode_data,
    "nyc311": geodf_311_data,
    "tree": geodf_tree_data,
    "zillow": df_zillow_data,
}

In [69]:
from sqlalchemy import create_engine

# PostgreSQL Connection
engine = create_engine(f'postgresql://{DB_USER}:{DB_PASSWORD}@localhost:5432/{DB_NAME}')

# INSERT "zipcode" TABLE FIRST
zipcode_df = tablename_to_dataframe['zipcode']
zipcode_df.to_postgis(name='zipcode', con=engine, if_exists='append', index=False)

# INSERT OTHER TABLES BY BATCHES
batch_size = 10000  
for table_name, df in tablename_to_dataframe.items():
    # Skip inserting "zipcode" table again
    if table_name == 'zipcode':
        continue
    
    print(f'Inserting data into {table_name} ...')
    for i in range(0, len(df), batch_size):
        # Log the processing
        if i % batch_size == 0:
            print(f'{i/len(df)*100}%')
        df_batch = df.iloc[i:i+batch_size]
        if table_name == 'zillow':
            df_batch.to_sql(name=table_name, con=engine, if_exists='append', index=False)
        else:
            df_batch.to_postgis(name=table_name, con=engine, if_exists='append', index=False)
    print(f'Done insert data into {table_name} ...')

Inserting data into nyc311 ...
0.0%
0.11087467702206584%
0.22174935404413168%
0.33262403106619753%
0.44349870808826336%
0.5543733851103292%
0.6652480621323951%
0.7761227391544608%
0.8869974161765267%
0.9978720931985926%
1.1087467702206584%
1.2196214472427243%
1.3304961242647901%
1.4413708012868558%
1.5522454783089217%
1.6631201553309876%
1.7739948323530534%
1.8848695093751193%
1.9957441863971852%
2.106618863419251%
2.2174935404413167%
2.3283682174633826%
2.4392428944854485%
2.5501175715075144%
2.6609922485295803%
2.771866925551646%
2.8827416025737116%
2.9936162795957775%
3.1044909566178434%
3.2153656336399092%
3.326240310661975%
3.437114987684041%
3.547989664706107%
3.6588643417281728%
3.7697390187502386%
3.8806136957723045%
3.9914883727943704%
4.102363049816436%
4.213237726838502%
4.324112403860568%
4.4349870808826335%
4.545861757904699%
4.656736434926765%
4.767611111948831%
4.878485788970897%
4.989360465992963%
5.100235143015029%
5.211109820037095%
5.3219844970591605%
5.432859174081226%
5.543733851103292%
5.654608528125358%
5.765483205147423%
5.876357882169489%
5.987232559191555%
6.098107236213621%
6.208981913235687%
6.319856590257753%
6.4307312672798185%
6.541605944301884%
6.65248062132395%
6.763355298346016%
6.874229975368082%
6.985104652390148%
7.095979329412214%
7.20685400643428%
7.3177286834563455%
7.428603360478411%
7.539478037500477%
7.650352714522543%
7.761227391544609%
7.872102068566675%
7.982976745588741%
8.093851422610806%
8.204726099632872%
8.315600776654938%
8.426475453677003%
8.53735013069907%
8.648224807721135%
8.759099484743201%
8.869974161765267%
8.980848838787333%
9.091723515809399%
9.202598192831465%
9.31347286985353%
9.424347546875596%
9.535222223897662%
9.646096900919728%
9.756971577941794%
9.86784625496386%
9.978720931985926%
10.089595609007992%
10.200470286030058%
10.311344963052123%
10.42221964007419%
10.533094317096255%
10.643968994118321%
10.754843671140387%
10.865718348162453%
10.976593025184519%
11.087467702206585%
11.19834237922865%
11.309217056250716%
11.420091733272782%
11.530966410294846%
11.641841087316912%
11.752715764338978%
11.863590441361044%
11.97446511838311%
12.085339795405176%
12.196214472427242%
12.307089149449308%
12.417963826471373%
12.52883850349344%
12.639713180515505%
12.750587857537571%
12.861462534559637%
12.972337211581703%
13.083211888603769%
13.194086565625835%
13.3049612426479%
13.415835919669966%
13.526710596692032%
13.637585273714098%
13.748459950736164%
13.85933462775823%
13.970209304780296%
14.081083981802362%
14.191958658824428%
14.302833335846493%
14.41370801286856%
14.524582689890625%
14.635457366912691%
14.746332043934757%
14.857206720956823%
14.968081397978889%
15.078956075000955%
15.18983075202302%
15.300705429045086%
15.411580106067152%
15.522454783089218%
15.633329460111284%
15.74420413713335%
15.855078814155416%
15.965953491177482%
16.076828168199548%
16.18770284522161%
16.29857752224368%
16.409452199265743%
16.520326876287807%
16.631201553309875%
16.74207623033194%
16.852950907354007%
16.96382558437607%
17.07470026139814%
17.185574938420203%
17.29644961544227%
17.407324292464335%
17.518198969486402%
17.629073646508466%
17.739948323530534%
17.850823000552598%
17.961697677574666%
18.07257235459673%
18.183447031618797%
18.29432170864086%
18.40519638566293%
18.516071062684993%
18.62694573970706%
18.737820416729125%
18.848695093751193%
18.959569770773257%
19.070444447795325%
19.18131912481739%
19.292193801839456%
19.40306847886152%
19.513943155883588%
19.624817832905652%
19.73569250992772%
19.846567186949784%
19.95744186397185%
20.068316540993916%
20.179191218015983%
20.290065895038047%
20.400940572060115%
20.51181524908218%
20.622689926104247%
20.73356460312631%
20.84443928014838%
20.955313957170443%
21.06618863419251%
21.177063311214575%
21.287937988236642%
21.398812665258706%
21.509687342280774%
21.620562019302838%
21.731436696324906%
21.84231137334697%
21.953186050369037%
22.0640607273911%
22.17493540441317%
22.285810081435233%
22.3966847584573%
22.507559435479365%
22.618434112501433%
22.729308789523497%
22.840183466545565%
22.951058143567625%
23.061932820589693%
23.172807497611757%
23.283682174633825%
23.39455685165589%
23.505431528677956%
23.61630620570002%
23.727180882722088%
23.838055559744152%
23.94893023676622%
24.059804913788284%
24.17067959081035%
24.281554267832416%
24.392428944854483%
24.503303621876547%
24.614178298898615%
24.72505297592068%
24.835927652942747%
24.94680232996481%
25.05767700698688%
25.168551684008943%
25.27942636103101%
25.390301038053074%
25.501175715075142%
25.612050392097206%
25.722925069119274%
25.833799746141338%
25.944674423163406%
26.05554910018547%
26.166423777207537%
26.2772984542296%
26.38817313125167%
26.499047808273733%
26.6099224852958%
26.720797162317865%
26.831671839339933%
26.942546516361997%
27.053421193384064%
27.16429587040613%
27.275170547428196%
27.38604522445026%
27.496919901472328%
27.607794578494392%
27.71866925551646%
27.829543932538524%
27.94041860956059%
28.051293286582656%
28.162167963604723%
28.273042640626787%
28.383917317648855%
28.49479199467092%
28.605666671692987%
28.71654134871505%
28.82741602573712%
28.938290702759183%
29.04916537978125%
29.160040056803314%
29.270914733825382%
29.381789410847446%
29.492664087869514%
29.603538764891578%
29.714413441913646%
29.82528811893571%
29.936162795957777%
30.04703747297984%
30.15791215000191%
30.268786827023973%
30.37966150404604%
30.490536181068105%
30.601410858090173%
30.712285535112237%
30.823160212134304%
30.93403488915637%
31.044909566178436%
31.1557842432005%
31.266658920222568%
31.377533597244632%
31.4884082742667%
31.599282951288764%
31.71015762831083%
31.821032305332896%
31.931906982354963%
32.04278165937703%
32.153656336399095%
32.26453101342116%
32.37540569044322%
32.48628036746529%
32.59715504448736%
32.708029721509426%
32.81890439853149%
32.92977907555355%
33.040653752575615%
33.15152842959768%
33.26240310661975%
33.37327778364181%
33.48415246066388%
33.595027137685946%
33.705901814708014%
33.816776491730074%
33.92765116875214%
34.03852584577421%
34.14940052279628%
34.26027519981834%
34.371149876840406%
34.48202455386247%
34.59289923088454%
34.7037739079066%
34.81464858492867%
34.92552326195074%
35.036397938972804%
35.147272615994865%
35.25814729301693%
35.369021970039%
35.47989664706107%
35.59077132408313%
35.701646001105196%
35.812520678127264%
35.92339535514933%
36.03427003217139%
36.14514470919346%
36.25601938621553%
36.366894063237595%
36.477768740259656%
36.58864341728172%
36.69951809430379%
36.81039277132586%
36.92126744834792%
37.03214212536999%
37.143016802392054%
37.25389147941412%
37.36476615643618%
37.47564083345825%
37.58651551048032%
37.697390187502386%
37.808264864524446%
37.919139541546514%
38.03001421856858%
38.14088889559065%
38.25176357261271%
38.36263824963478%
38.473512926656845%
38.58438760367891%
38.69526228070097%
38.80613695772304%
38.91701163474511%
39.027886311767176%
39.13876098878924%
39.249635665811304%
39.36051034283337%
39.47138501985544%
39.5822596968775%
39.69313437389957%
39.804009050921636%
39.9148837279437%
40.025758404965764%
40.13663308198783%
40.2475077590099%
40.35838243603197%
40.46925711305403%
40.580131790076095%
40.69100646709816%
40.80188114412023%
40.91275582114229%
41.02363049816436%
41.134505175186426%
41.245379852208494%
41.356254529230554%
41.46712920625262%
41.57800388327469%
41.68887856029676%
41.79975323731882%
41.910627914340886%
42.02150259136295%
42.13237726838502%
42.24325194540708%
42.35412662242915%
42.46500129945122%
42.575875976473284%
42.686750653495345%
42.79762533051741%
42.90850000753948%
43.01937468456155%
43.13024936158361%
43.241124038605676%
43.351998715627744%
43.46287339264981%
43.57374806967187%
43.68462274669394%
43.79549742371601%
43.906372100738075%
44.017246777760136%
44.1281214547822%
44.23899613180427%
44.34987080882634%
44.4607454858484%
44.57162016287047%
44.682494839892534%
44.7933695169146%
44.90424419393666%
45.01511887095873%
45.1259935479808%
45.236868225002866%
45.347742902024926%
45.458617579046994%
45.56949225606906%
45.68036693309113%
45.79124161011319%
45.90211628713525%
46.01299096415732%
46.123865641179385%
46.23474031820145%
46.345614995223514%
46.45648967224558%
46.56736434926765%

46.67823902628972%
46.78911370331178%
46.899988380333845%
47.01086305735591%
47.12173773437798%
47.23261241140004%
47.34348708842211%
47.454361765444176%
47.565236442466244%
47.676111119488304%
47.78698579651037%
47.89786047353244%
48.00873515055451%
48.11960982757657%
48.230484504598635%
48.3413591816207%
48.45223385864277%
48.56310853566483%
48.6739832126869%
48.78485788970897%
48.895732566731034%
49.006607243753095%
49.11748192077516%
49.22835659779723%
49.3392312748193%
49.45010595184136%
49.560980628863426%
49.671855305885494%
49.78272998290756%
49.89360465992962%
50.00447933695169%
50.11535401397376%
50.226228690995825%
50.337103368017885%
50.44797804503995%
50.55885272206202%
50.66972739908409%
50.78060207610615%
50.89147675312822%
51.002351430150284%
51.11322610717235%
51.22410078419441%
51.33497546121648%
51.44585013823855%
51.556724815260615%
51.667599492282676%
51.778474169304744%
51.88934884632681%
52.00022352334888%
52.11109820037094%
52.22197287739301%
52.332847554415075%
52.44372223143714%
52.5545969084592%
52.66547158548127%
52.77634626250334%
52.887220939525406%
52.99809561654747%
53.108970293569534%
53.2198449705916%
53.33071964761367%
53.44159432463573%
53.5524690016578%
53.663343678679865%
53.77421835570193%
53.885093032723994%
53.99596770974606%
54.10684238676813%
54.2177170637902%
54.32859174081226%
54.439466417834325%
54.55034109485639%
54.66121577187846%
54.77209044890052%
54.88296512592259%
54.993839802944656%
55.104714479966724%
55.215589156988784%
55.32646383401085%
55.43733851103292%
55.54821318805499%
55.65908786507705%
55.769962542099115%
55.88083721912118%
55.99171189614325%
56.10258657316531%
56.21346125018738%
56.32433592720945%
56.435210604231514%
56.546085281253575%
56.65695995827564%
56.76783463529771%
56.87870931231978%
56.98958398934184%
57.100458666363906%
57.211333343385974%
57.32220802040804%
57.4330826974301%
57.54395737445217%
57.65483205147424%
57.765706728496305%
57.876581405518365%
57.98745608254043%
58.0983307595625%
58.20920543658457%
58.32008011360663%
58.4309547906287%
58.541829467650764%
58.65270414467283%
58.76357882169489%
58.87445349871696%
58.98532817573903%
59.096202852761095%
59.207077529783156%
59.317952206805224%
59.42882688382729%
59.53970156084936%
59.65057623787142%
59.76145091489349%
59.872325591915555%
59.98320026893762%
60.09407494595968%
60.20494962298175%
60.31582430000382%
60.426698977025886%
60.53757365404795%
60.648448331070014%
60.75932300809208%
60.87019768511415%
60.98107236213621%
61.09194703915828%
61.202821716180345%
61.31369639320241%
61.424571070224474%
61.53544574724654%
61.64632042426861%
61.75719510129068%
61.86806977831274%
61.978944455334805%
62.08981913235687%
62.20069380937894%
62.311568486401%
62.42244316342307%
62.533317840445136%
62.644192517467204%
62.755067194489264%
62.86594187151133%
62.9768165485334%
63.08769122555547%
63.19856590257753%
63.309440579599595%
63.42031525662166%
63.53118993364373%
63.64206461066579%
63.75293928768786%
63.86381396470993%
63.974688641731994%
64.08556331875405%
64.19643799577612%
64.30731267279819%
64.41818734982026%
64.52906202684233%
64.6399367038644%
64.75081138088645%
64.86168605790851%
64.97256073493058%
65.08343541195265%
65.19431008897472%
65.30518476599678%
65.41605944301885%
65.5269341200409%
65.63780879706297%
65.74868347408504%
65.8595581511071%
65.97043282812916%
66.08130750515123%
66.1921821821733%
66.30305685919537%
66.41393153621743%
66.5248062132395%
66.63568089026157%
66.74655556728362%
66.85743024430569%
66.96830492132776%
67.07917959834982%
67.19005427537189%
67.30092895239396%
67.41180362941603%
67.5226783064381%
67.63355298346015%
67.74442766048222%
67.85530233750428%
67.96617701452635%
68.07705169154842%
68.18792636857049%
68.29880104559255%
68.40967572261462%
68.52055039963668%
68.63142507665874%
68.74229975368081%
68.85317443070288%
68.96404910772495%
69.07492378474701%
69.18579846176908%
69.29667313879115%
69.4075478158132%
69.51842249283527%
69.62929716985734%
69.7401718468794%
69.85104652390147%
69.96192120092354%
70.07279587794561%
70.18367055496768%
70.29454523198973%
70.4054199090118%
70.51629458603387%
70.62716926305593%
70.738043940078%
70.84891861710007%
70.95979329412214%
71.0706679711442%
71.18154264816626%
71.29241732518832%
71.40329200221039%
71.51416667923246%
71.62504135625453%
71.7359160332766%
71.84679071029866%
71.95766538732073%
72.06854006434278%
72.17941474136485%
72.29028941838692%
72.40116409540899%
72.51203877243105%
72.62291344945312%
72.73378812647519%
72.84466280349726%
72.95553748051931%
73.06641215754138%
73.17728683456345%
73.28816151158551%
73.39903618860758%
73.50991086562965%
73.62078554265172%
73.73166021967378%
73.84253489669584%
73.9534095737179%
74.06428425073997%
74.17515892776204%
74.28603360478411%
74.39690828180618%
74.50778295882824%
74.61865763585031%
74.72953231287237%
74.84040698989443%
74.9512816669165%
75.06215634393857%
75.17303102096064%
75.2839056979827%
75.39478037500477%
75.50565505202684%
75.61652972904889%
75.72740440607096%
75.83827908309303%
75.9491537601151%
76.06002843713716%
76.17090311415923%
76.2817777911813%
76.39265246820337%
76.50352714522542%
76.61440182224749%
76.72527649926955%
76.83615117629162%
76.94702585331369%
77.05790053033576%
77.16877520735783%
77.2796498843799%
77.39052456140195%
77.50139923842401%
77.61227391544608%
77.72314859246815%
77.83402326949022%
77.94489794651228%
78.05577262353435%
78.16664730055642%
78.27752197757847%
78.38839665460054%
78.49927133162261%
78.61014600864468%
78.72102068566674%
78.83189536268881%
78.94277003971088%
79.05364471673295%
79.164519393755%
79.27539407077707%
79.38626874779914%
79.4971434248212%
79.60801810184327%
79.71889277886534%
79.8297674558874%
79.94064213290947%
80.05151680993153%
80.1623914869536%
80.27326616397566%
80.38414084099773%
80.4950155180198%
80.60589019504187%
80.71676487206393%
80.827639549086%
80.93851422610805%
81.04938890313012%
81.16026358015219%
81.27113825717426%
81.38201293419633%
81.49288761121839%
81.60376228824046%
81.71463696526253%
81.82551164228458%
81.93638631930665%
82.04726099632872%
82.15813567335078%
82.26901035037285%
82.37988502739492%
82.49075970441699%
82.60163438143906%
82.71250905846111%
82.82338373548318%
82.93425841250524%
83.04513308952731%
83.15600776654938%
83.26688244357145%
83.37775712059351%
83.48863179761558%
83.59950647463764%
83.7103811516597%
83.82125582868177%
83.93213050570384%
84.0430051827259%
84.15387985974797%
84.26475453677004%
84.37562921379211%
84.48650389081416%
84.59737856783623%
84.7082532448583%
84.81912792188037%
84.93000259890243%
85.0408772759245%
85.15175195294657%
85.26262662996864%
85.37350130699069%
85.48437598401276%
85.59525066103483%
85.70612533805689%
85.81700001507896%
85.92787469210103%
86.0387493691231%
86.14962404614516%
86.26049872316722%
86.37137340018928%
86.48224807721135%
86.59312275423342%
86.70399743125549%
86.81487210827756%
86.92574678529962%
87.03662146232169%
87.14749613934374%
87.25837081636581%
87.36924549338788%
87.48012017040995%
87.59099484743201%
87.70186952445408%
87.81274420147615%
87.92361887849822%
88.03449355552027%
88.14536823254234%
88.2562429095644%
88.36711758658647%
88.47799226360854%
88.58886694063061%
88.69974161765268%
88.81061629467474%
88.9214909716968%
89.03236564871887%
89.14324032574093%
89.254115002763%
89.36498967978507%
89.47586435680714%
89.5867390338292%
89.69761371085127%
89.80848838787333%
89.91936306489539%
90.03023774191746%
90.14111241893953%
90.2519870959616%
90.36286177298366%
90.47373645000573%
90.5846111270278%
90.69548580404985%
90.80636048107192%
90.91723515809399%
91.02810983511606%
91.13898451213812%
91.24985918916019%
91.36073386618226%
91.47160854320433%
91.58248322022638%
91.69335789724843%
91.8042325742705%
91.91510725129257%
92.02598192831464%
92.1368566053367%
92.24773128235877%
92.35860595938084%
92.4694806364029%
92.58035531342497%
92.69122999044703%
92.8021046674691%
92.91297934449116%
93.02385402151323%
93.1347286985353%
93.24560337555737%
93.35647805257943%
93.46735272960149%
93.57822740662355%
93.68910208364562%
93.79997676066769%
93.91085143768976%
94.02172611471183%
94.13260079173389%
94.24347546875596%
94.35435014577803%
94.46522482280008%

94.57609949982215%
94.68697417684422%
94.79784885386628%
94.90872353088835%
95.01959820791042%
95.13047288493249%
95.24134756195454%
95.35222223897661%
95.46309691599868%
95.57397159302074%
95.68484627004281%
95.79572094706488%
95.90659562408695%
96.01747030110901%
96.12834497813108%
96.23921965515314%
96.3500943321752%
96.46096900919727%
96.57184368621934%
96.6827183632414%
96.79359304026347%
96.90446771728554%
97.0153423943076%
97.12621707132966%
97.23709174835173%
97.3479664253738%
97.45884110239587%
97.56971577941793%
97.68059045644%
97.79146513346207%
97.90233981048414%
98.01321448750619%
98.12408916452826%
98.23496384155033%
98.34583851857239%
98.45671319559446%
98.56758787261653%
98.6784625496386%
98.78933722666065%
98.90021190368272%
99.01108658070478%
99.12196125772685%
99.23283593474892%
99.34371061177099%
99.45458528879306%
99.56545996581512%
99.67633464283719%
99.78720931985924%
99.89808399688131%
Done insert data into nyc311 ...
Inserting data into tree ...
0.0%
1.4644440311457956%
2.928888062291591%
4.393332093437387%
5.857776124583182%
7.322220155728979%
8.786664186874773%
10.25110821802057%
11.715552249166365%
13.179996280312162%
14.644440311457958%
16.10888434260375%
17.573328373749547%
19.037772404895343%
20.50221643604114%
21.966660467186934%
23.43110449833273%
24.895548529478525%
26.359992560624324%
27.82443659177012%
29.288880622915915%
30.753324654061707%
32.2177686852075%
33.6822127163533%
35.146656747499094%
36.61110077864489%
38.075544809790685%
39.53998884093649%
41.00443287208228%
42.46887690322808%
43.93332093437387%
45.39776496551966%
46.86220899666546%
48.326653027811254%
49.79109705895705%
51.25554109010285%
52.71998512124865%
54.18442915239444%
55.64887318354024%
57.113317214686035%
58.57776124583183%
60.042205276977626%
61.506649308123414%
62.97109333926921%
64.435537370415%
65.89998140156081%
67.3644254327066%
68.8288694638524%
70.29331349499819%
71.75775752614399%
73.22220155728978%
74.68664558843557%
76.15108961958137%
77.61553365072716%
79.07997768187298%
80.54442171301876%
82.00886574416457%
83.47330977531036%
84.93775380645616%
86.40219783760195%
87.86664186874773%
89.33108589989354%
90.79552993103933%
92.25997396218513%
93.72441799333092%
95.18886202447672%
96.65330605562251%
98.11775008676831%
99.5821941179141%
Done insert data into tree ...
Inserting data into zillow ...
0.0%
Done insert data into zillow ...

## Part 3: Understanding the Data

### Query for Data

In [12]:
import csv

# Helper function to write the queries to file
def write_query_to_file(query, outfile, header=None):
    '''Execute a given SQL query and write results to a specific file
    
    Keyword arguments:
    query -- A string contains the SQL queries
    outfile -- The name of the specific output file
    header -- A list contains the columns' names of the output table
    
    Returns:
    No returns.
    '''
    results = execute_SQL(query)
    with open(outfile, mode='w', newline='') as file:
        writer = csv.writer(file)
        # Write the header first if it's given
        if header:
            writer.writerow(header)
        for row in results:
            writer.writerow(row)

### Store the SQL commands to local .sql file

In [13]:
def write_SQL_file(query, target_filename):
    '''Write the given SQL query to specific .sql file
    
    Keyword arguments:
    query -- The given query commands
    target_filename -- The given output filename
    
    Returns:
    No returns.
    '''
    # create that required schema.sql file
    with open(target_filename, "w") as f:
        f.write(query)

### Question 1

In [15]:
QUERY_1_FILENAME = QUERY_DIR / "Query1.csv"

QUERY_1 = """
SELECT zip, COUNT(DISTINCT n.unique_key) as num_complaints 
FROM NYC311 n
WHERE date BETWEEN '2022-10-01' AND '2023-09-30' 
GROUP BY zip 
ORDER BY num_complaints DESC;
"""

# Write Query 1 to local space
write_SQL_file(QUERY_1, QUERY_DIR / "QUERY_1.sql")

In [16]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME, header=['Zipcode', 'Number of Complaints'])

#### Display the results

In [17]:
df = pd.read_csv(QUERY_1_FILENAME)
display(df)

     Zipcode  Number of Complaints
0      11226                  1176
1      10467                  1091
2      10457                  1036
3      10468                   981
4      10458                   936
..       ...                   ...
193    10110                     1
194    10151                     1
195    10055                     1
196    10162                     1
197    10166                     1

[198 rows x 2 columns]

### Question 2

In [33]:
QUERY_2_FILENAME = QUERY_DIR / "Query2.csv"

QUERY_2 = """
SELECT zip, COUNT(DISTINCT t.tree_id) as num_trees
FROM TREE t
GROUP BY zip
ORDER BY num_trees DESC
LIMIT 10;
"""

# Write Query 2 to local space
write_SQL_file(QUERY_2, QUERY_DIR / "QUERY_2.sql")

In [34]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME, header=['Zipcode', 'Number of Trees'])

#### Display the results

In [35]:
df = pd.read_csv(QUERY_2_FILENAME)
display(df)

   Zipcode  Number of Trees
0    10312            22186
1    10314            16905
2    10306            13030
3    10309            12650
4    11234            11253
5    11385            10937
6    11357             9449
7    11207             8634
8    11434             8274
9    11208             8245

### Question 3

In [21]:
QUERY_3_FILENAME = QUERY_DIR / "Query3.csv"

QUERY_3 = """
SELECT
    ZILLOW.zip AS ZipCode,
    ROUND(AVG(CASE WHEN ZILLOW."2023-08" IS NOT NULL THEN ZILLOW."2023-08" END)::numeric, 2) AS AverageRent
FROM
    ZILLOW
JOIN
    TREE ON ZILLOW.zip = TREE.zip
GROUP BY
    ZILLOW.zip
ORDER BY
    COUNT(TREE.tree_id) DESC
LIMIT
    10;
"""

# Write Query 3 to local space
write_SQL_file(QUERY_3, QUERY_DIR / "QUERY_3.sql")

In [22]:
write_query_to_file(QUERY_3, QUERY_3_FILENAME, header=['Zipcode', 'Average Rent'])

#### Display the results

In [23]:
df = pd.read_csv(QUERY_3_FILENAME)
display(df)

   Zipcode  Average Rent
0    10312       1775.09
1    10314       2465.47
2    10306       2331.54
3    10309       1832.01
4    11234       2312.31
5    11385       3064.48
6    11357       2458.81
7    11207       3079.09
8    11434       2645.92
9    11208       2737.55

### Question 4

In [24]:
QUERY_4_1_FILENAME = QUERY_DIR / "Query4_1.csv"
QUERY_4_2_FILENAME = QUERY_DIR / "Query4_2.csv"
QUERY_4_FILENAME = QUERY_DIR / "Query4.csv"

QUERY_4_1 = """
WITH MonthlyAvgRent AS (
  SELECT
    ZILLOW.zip,
    AVG("2023-01") AS avg_rent,
    RANK() OVER (ORDER BY AVG("2023-01") DESC) AS high_rank,
    RANK() OVER (ORDER BY AVG("2023-01") ASC) AS low_rank
  FROM
    ZILLOW
  WHERE
    "2023-01" IS NOT NULL  -- Exclude rows where rent is NaN
  GROUP BY
    ZILLOW.zip
),
TopZips AS (
  SELECT
    m.zip,
    m.avg_rent
  FROM
    MonthlyAvgRent m
  WHERE
    m.high_rank <= 5 OR m.low_rank <= 5
)
SELECT
  t.zip,
  t.avg_rent,
  COUNT(DISTINCT tr.tree_id) AS tree_count
FROM
  TopZips t
LEFT JOIN (
  SELECT zip, tree_id
  FROM TREE
) tr ON t.zip = tr.zip
GROUP BY
  t.zip, t.avg_rent
ORDER BY
  t.avg_rent DESC;
"""

QUERY_4_2 = """
WITH MonthlyAvgRent AS (
  SELECT
    ZILLOW.zip,
    AVG("2023-01") AS avg_rent,
    RANK() OVER (ORDER BY AVG("2023-01") DESC) AS high_rank,
    RANK() OVER (ORDER BY AVG("2023-01") ASC) AS low_rank
  FROM
    ZILLOW
  WHERE
    "2023-01" IS NOT NULL  -- Exclude rows where rent is NaN
  GROUP BY
    ZILLOW.zip
),
TopZips AS (
  SELECT
    m.zip,
    m.avg_rent
  FROM
    MonthlyAvgRent m
  WHERE
    m.high_rank <= 5 OR m.low_rank <= 5
)
SELECT
  t.zip,
  t.avg_rent,
  COUNT(DISTINCT n.unique_key) AS nyc311_count
FROM
  TopZips t
LEFT JOIN (
  SELECT zip, unique_key
  FROM NYC311
) n ON t.zip = n.zip
GROUP BY
  t.zip, t.avg_rent
ORDER BY
  t.avg_rent DESC;
"""

# Write Query 4_1 to local space
write_SQL_file(QUERY_4_1, QUERY_DIR / "QUERY_4_1.sql")
# Write Query 4_2 to local space
write_SQL_file(QUERY_4_2, QUERY_DIR / "QUERY_4_2.sql")

In [25]:
write_query_to_file(QUERY_4_1, QUERY_4_1_FILENAME, 
                    header=['Zipcode', 'Average Rent', 'Tree Count'])
write_query_to_file(QUERY_4_2, QUERY_4_2_FILENAME, 
                    header=['Zipcode', 'Average Rent', 'Complaint Count'])

#### Display the results

In [26]:
df1 = pd.read_csv(QUERY_4_1_FILENAME)
df2 = pd.read_csv(QUERY_4_2_FILENAME)
merged_df = pd.merge(df1, df2[['Zipcode', 'Complaint Count']], 
                     left_on='Zipcode', right_on='Zipcode', how='left')
merged_df.to_csv(QUERY_4_FILENAME, index=False)
display(merged_df)

   Zipcode  Average Rent  Tree Count  Complaint Count
0    10007   7270.236702         355            13837
1    10282   7143.347680         234             1891
2    10013   5480.106304        1202            42520
3    10069   4959.670333         119             1704
4    10011   4741.866947        2134            58411
5    10458   1883.075801        3405           110267
6    11357   1829.663380        9449            38308
7    10453   1820.234164        3050           111967
8    10462   1801.890987        4234            78890
9    10309   1380.514269       12650            31806

### Question 5

In [30]:
QUERY_5_FILENAME = QUERY_DIR / "Query5.csv"

QUERY_5 = """
SELECT z.zip, COUNT(DISTINCT t.tree_id) as num_trees
FROM tree t
INNER JOIN zipcode z ON ST_Within(t.geometry, z.geometry)
GROUP BY z.zip
ORDER BY num_trees DESC
LIMIT 10;
"""

# Write Query 5 to local space
write_SQL_file(QUERY_5, QUERY_DIR / "QUERY_5.sql")

In [31]:
write_query_to_file(QUERY_5, QUERY_5_FILENAME, header=['Zipcode', 'Number of Trees'])

#### Display the results

In [32]:
df = pd.read_csv(QUERY_5_FILENAME)
display(df)

   Zipcode  Number of Trees
0    10312            22186
1    10314            16905
2    10306            13030
3    10309            12650
4    11234            11253
5    11385            10937
6    11357             9449
7    11207             8635
8    11434             8274
9    11208             8246

### Question 6

In [27]:
QUERY_6_FILENAME = QUERY_DIR / "Query6.csv"

QUERY_6 = """
SELECT
    tree_id,
    spc_common AS species,
    health,
    status,
    ST_AsText(geometry) AS coordinate_location
FROM
    TREE
WHERE
    ST_DWithin(
        geometry,
        ST_SetSRID(ST_MakePoint(-73.96253174434912, 40.80737875669467), 4326),
        0.5 * 1609.34
    )
LIMIT 5;
"""

# Write Query 6 to local space
write_SQL_file(QUERY_6, QUERY_DIR / "QUERY_6.sql")

In [28]:
write_query_to_file(QUERY_6, QUERY_6_FILENAME, 
                    header=["ID", "Species", "Health", 
                            "Status", "Coordinate Location"])

#### Display the results

In [29]:
df = pd.read_csv(QUERY_6_FILENAME)
display(df)

       ID    Species Health Status              Coordinate Location
0  148556    pin oak   Good  Alive  POINT(-74.11266044 40.57981772)
1  152598    pin oak   Good  Alive  POINT(-73.86612265 40.83930438)
2  150392    pin oak   Good  Alive  POINT(-73.98210183 40.68259714)
3  150409    pin oak   Good  Alive  POINT(-73.98063752 40.68202742)
4  129234  red maple   Good  Alive  POINT(-73.74799966 40.71194692)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)